exports.run = (client, message, msg) => {

};

exports.conf = {
    enabled: true,
    guildOnly: false,
    aliases: [],
    permLevel: 0
};

exports.help = {
    name: "",
    description: "",
    usage: ""
};